img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown-rendered img,
.cm-line .cm-embed-block:has(img) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
